* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('/src/font/MonoLisa-Regular.woff2') format('woff2'),
        url('/src/font/MonoLisa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('/src/font/brandon-grotesque-black-58a8a3e824392-webfont.woff2') format('woff2'),
        url('/src/font/brandon-grotesque-black-58a8a3e824392-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquebold_italic';
    src: url('/src/font/brandon-grotesque-bold-italic-58a8a48221563-webfont.woff2') format('woff2'),
        url('/src/font/brandon-grotesque-bold-italic-58a8a48221563-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('/src/font/brandon-grotesque-light-58a8a4b38001d-webfont.woff2') format('woff2'),
        url('/src/font/brandon-grotesque-light-58a8a4b38001d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquelight_italic';
    src: url('/src/font/brandon-grotesque-light-italic-58a8a4ccb88be-webfont.woff2') format('woff2'),
        url('/src/font/brandon-grotesque-light-italic-58a8a4ccb88be-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesqueMdIt';
    src: url('/src/font/brandon-grotesque-medium-italic-58a8a3c40866a-webfont.woff2') format('woff2'),
        url('/src/font/brandon-grotesque-medium-italic-58a8a3c40866a-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesqueRgIt';
    src: url('/src/font/brandon-grotesque-regular-italic-58a8a456c4724-webfont.woff2') format('woff2'),
        url('/src/font/brandon-grotesque-regular-italic-58a8a456c4724-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquethin_italic';
    src: url('/src/font/brandon-grotesque-thin-italic-58a8a3a8861fe-webfont.woff2') format('woff2'),
        url('/src/font/brandon-grotesque-thin-italic-58a8a3a8861fe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.titre {
    font-family: 'brandon_grotesqueblack';
}

body {
    font-family: 'MonoLisa';
    cursor: none;

}



/* cursor */

.inner-cursor {
    position: fixed;
    left: 30px;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow {
    width: 60px;
    height: 60px;
    transition: width 0.5s, height 0.5s;
}

.outer-cursor {
    position: fixed;
    left: 20px;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.1s;
}


/* BUTTON DARK MODE */

.switch {
    width: 60px;
    height: 34px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.switch input {
    opacity: 0;

}

.slider {

    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before {
    position: relative;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #222;
}

input:focus+.slider {
    box-shadow: 0 0 1px #222;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.button1 {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    transition-duration: 300ms;
}

.v-enter-active,
.v-leave-active {
    transition: 0.6s ease-out;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
    translate: 0px 150px;
}